version: "3.8"
services:
  backend:
    build: .
    container_name: task_manager_backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/task_manager_db
      - JWT_SECRET=super_secret_change_me
      - UPLOAD_DIR=uploads
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: task_manager_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
